<footer>
  <div class="left">
    <ul>
      <li style="font-weight: bold; font-size: 18px">Best Pictures</li>
      <li>Best Pictures is a web site which has been</li>
      <li>developed by Muhammed Hakan Kılıç</li>
      <li>as a project of his class.</li>
    </ul>
  </div>
  <div class="middle">
    <ul>
      <li style="font-weight: bold; font-size: 18px">Social</li>
      <li>
        <a href="https://www.instagram.com/mhakankilic01/" target="_blank">
          Instagram</a
        >
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/hakan-k%C4%B1l%C4%B1%C3%A7-1b15581b6/"
          target="_blank"
        >
          Linkedin</a
        >
      </li>
      <li>
        <a href="https://www.github.com/mamamia140" target="_blank"> Github</a>
      </li>
    </ul>
  </div>
  <div class="right">
    <ul>
      <li style="font-weight: bold; font-size: 18px">Contact</li>
      <li>
        Address:
        <a href="https://goo.gl/maps/WgfFvcfHaMGPhg9J7" target="_blank">
          Stallvägen 24, 352 56 Växjö/Sweden</a
        >
      </li>
      <li>
        Mail: <a href="mailto:m-h-k140@hotmail.com">m-h-k140@hotmail.com</a>
      </li>
      <li>Telephone: <a href="tel:+46 070 974 3333"> +46 070 974 6776</a></li>
    </ul>
  </div>
</footer>
